<div class="row" id="notification_window">
</div>


<h3> {{integration.display_name}} </h3>

<div class="row  col-md-4">

<ul class="list-group">
  <li class="list-group-item"><a style="cursor: pointer;" class="integration_json" id="json_{{integration.name}}" target="_blank" href="/integration/{{integration.name}}/json/">Get integration JSON</a></li>
  <li class="list-group-item"><a style="cursor: pointer;" class="add_action" id="add_action_{{integration.name}}">Add Actions</a></li>
  <li class="list-group-item"><a style="cursor: pointer;" class="agent_sync" id="agent_sync_{{integration.name}}">Configure Agent Synchronisation</a></li>
  <li class="list-group-item"><a style="cursor: pointer;" class="auth_validation" id="auth_validation_{{integration.name}}">Configure Auth Validation</a></li>
  <li class="list-group-item"><a style="cursor: pointer;" class="contact_sync" id="contact_sync_{{integration.name}}">Configure Contact Synchronisation</a></li>
  <li class="list-group-item"><a style="cursor: pointer;" class="interaction_retrieval" id="interaction_retrieval_{{integration.name}}">Configure Interaction Retrieval</a></li>

</ul>
</div>